.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  height: 90%;
  width: 90%;
  position: absolute;
  background: #678983;
  border: 0.1rem solid black;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
}

.taskInput {
  margin: 6rem;
  height: 40px;
  width: 600px;
  border: 0.1rem solid black;
  border-radius: 0.3rem;
  cursor:text;
  padding-left: 3rem;
  padding-right: 3rem;
  background: #E6DDC4;
  color:#CE7777;
  font-size:1.3rem;
}

.submitButton {
  height: 40px;
  width: 100px;
  border: 0.1rem solid black;
  border-radius: 0.3rem;
  cursor:pointer;
  font-size: 1.3rem;
  background: #181D31;
  color:#CE7777;
}

.inputSubmit {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.listItem {
  width: 600px;
  height: 40px;
  border: 0.1rem solid black;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  padding-left: 3rem;
  font-size:1.3rem;
  justify-content: space-between;
  margin: 0.5rem 0 0.5rem 0;
  padding-top:1.5rem;
  padding-bottom: 1.5rem;
  background: #F2EEE0;
}

.deleteTask {
  margin-right: 1rem;
  background: transparent;
  cursor: pointer;
}